/* GERAL */

/* @font-face {
    font-family: 'Open Sans';
    src: url(open-sans-regular.woff2);
}

@font-face {
    font-family: 'Open Sans';
    src: url(open-sans-bold.woff2);
    font-weight: bold;
}

@font-face {
    font-family: 'Fira Sans Medium';
    src: url(fira-sans-medium.woff2);
}

@font-face {
    font-family: 'Source Sans 3';
    src: url(source-sans-pro.woff2);
} */

* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans';
}

body {
    background: url(fundo.jpg);
    background-attachment: fixed;
    background-size: cover;
}

p {
    font-family: "Source Sans 3";
    margin: 14px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-left: 1px solid #54525f;
    border-right: 1px solid #54525f;
    background: #2d2b39;
}

th {
    border-bottom: 2px solid #54525f;
}

td {
    border-top: 1px solid #54525f;
}

/* CLASSES */

.disclaimer {
    display: none;
}

.containerForm {
    width: 400px;
    margin: 50px auto;
}

.containerIndex {
    width: 600px;
    margin: 50px auto;
}

.containerTopo {
    background: #1e1d23;
    padding: 12px 0;
    box-shadow: rgba(0,0,0,0.7) 0 6px 24px;
}
.containerTabela {
    border-radius: 12px;
    width: 60%;
    margin: 50px auto;
    box-shadow: rgba(0,0,0,0.6) 0 8px 22px;
}
.containerTabela td, .containerTabela th {
    text-align: start;
    padding: 8px 10px;
    color: #c9c5d0;
}

.containerTabela img {
    width: 24px;
    image-rendering: pixelated;
}

.containerForm h2, .containerIndex h2 {
    margin: 8px 0;
}

.formulario {
    padding: 0 15px;
    border: 1px solid #54525f;
    border-radius: 12px;
    background: #2d2b39;
    color: #c9c5d0;
    box-shadow: rgba(0,0,0,0.6) 0 8px 22px;
}

.topo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.paginaBg {
    padding: 6px 16px;
    margin: 0 4px;
    color: #c9c5d0;
    text-decoration: none;
    border-radius: 99px;
    font-family: "Fira Sans Medium";
}

.paginaAtual {
    padding: 6px 16px;
    margin: 0 4px;
    background: #c9c5d0;
    color: #1e1d23;
    text-decoration: none;
    border-radius: 99px;
    box-shadow: rgba(0,0,0,0.6) 0 2px 8px;
    font-family: "Fira Sans Medium";
}

.paginaAtual:hover {
    background: rgba(255,255,255,0.6);
}

.paginaBg:hover {
    background: rgba(255,255,255,0.2);
}

.topoTabela {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-top: 1px solid #54525f;
    border-left: 1px solid #54525f;
    border-right: 1px solid #54525f;
    width: calc(100% - 2px);
    padding: 6px 0;
    background: #2d2b39;
}

.baixoTabela {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border-bottom: 1px solid #54525f;
    border-left: 1px solid #54525f;
    border-right: 1px solid #54525f;
    width: calc(100% - 2px);
    padding: 6px 0;
    background: #2d2b39;
}

.cardGui, .cardGu {
    display: flex;
    margin: 20px 0;
    flex-direction: row;
    align-items: center;
    border: 1px solid #ad9ffa;
    border-radius: 12px;
    background: #1e1d23;
    box-shadow: rgba(0,0,0,0.6) 0 5px 22px;
}

.cardGui img, .cardGu img {
    height: 120px;
    width: 120px;
}

.cardGu {
    justify-content: flex-end;
}

.espaco {
    padding: 0 7px;
}

.sociais {
    display: flex;
    flex-direction: row;
}

.sociais a {
    display: inline-block;
    padding: 6px 16px;
    margin: 5px 0;
    background: #c9c5d0;
    border-radius: 99px;
    text-decoration: none;
    color: #1e1d23;
    font-family: "Fira Sans Medium";
    box-shadow: rgba(0,0,0,0.6) 0 2px 8px;
}

.sociais a:hover {
    background: rgba(255,255,255,0.6);
}

.bio {
    margin: 5px 0;
}

/* IDs */

#gui {
    border-radius: 11px 0 0 11px;
    text-align: start;
}

#gu{
    border-radius: 0 11px 11px 0;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

/* INPUTS */

input[type=text] {
    padding: 5px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid #54525f;
    border-radius: 6px;
    background: #1e1d23;
    color: #c9c5d0;
    outline: none;
}

input[type=text] {
    transition: 100ms ease-out;
}

input[type=text]:focus {
    border: 1px solid #ad9ffa;
}

label[for=enviar] {
    display: inline-block;
    padding: 6px 16px;
    margin: 12px 0;
    background: #c9c5d0;
    border-radius: 99px;
    text-decoration: none;
    color: #1e1d23;
    cursor: pointer;
    font-family: "Fira Sans Medium";
    box-shadow: rgba(0,0,0,0.6) 0 2px 8px;
}

label[for=enviar]:hover {
    background: rgba(255,255,255,0.6);
}

input[type=submit] {
    display: none;
}